# Node
node_modules
.npm
.next
dist
out
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Local env
.env
.env.local
.env.*.local
# Build
*.tsbuildinfo
# IDEs
.vscode
.idea
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
*.env
.pytest_cache/
.mypy_cache/
*.sqlite3

# System / OS
Thumbs.db
Icon?
ehthumbs.db
Desktop.ini

# Turborepo cache
.cache
.turbo
